/* hello.module.css */
.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensure the container fills the viewport height */
  }

  .body {
    display: flex;
    flex: 1; /* Grow to fill remaining space */
  }

  .left, .right {
    padding: 10px;
    text-align: center;
  }
  
  .left {
    flex: 2; /* Occupy remaining space in the body */
    background-color:#1e1e1e;
  }
  
  .right {
    width: 500px; /* Fixed width for the animation */
    background-color: #1e1e1e;
  }
  
  
  .nav {
    flex: 0 0 auto;
    padding: 1rem;
  }
  
  .nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .nav li {
    margin-bottom: 0.5rem;
  }
  
  .main {
    display: flex;
    flex-direction: row;
    align-items: flex-start; /* Adjust alignment */
    justify-content: center;
    margin-top: 2rem; /* Adjust the margin-top as needed */
    color: white;
  }
  
  .lineNumbers {
    flex: 0 0 auto;
    width: 40px;
    padding-right: 10px;
    text-align: right;
    border-right: 1px solid #ccc;
    margin-right: 10px;
  }
  
  .lineNumbers span {
    display: block;
    padding: 2px 0;
  }
  
  .content  {
    flex: 1;
    text-align: center; /* Center the content */
    position: relative; /* Add relative positioning */
    margin-top: 100px;
  }
  
  .content h3,
  .content h1 {
    margin: 0;
  }
  
  .animation {
    position: relative; /* Position the animation absolutely */
  }
  